$bg-btn: #3e975c;

.btn {
    background: $bg-btn;
    border-radius: 1.75rem;
    border: none;
    padding: 0.68rem 1.2rem 0.7rem 1.2rem;
    color: #ffffffe2;
    font-weight: 400;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
    position: relative;
    transition: 0.12s ease-in;
    box-shadow: 0px 0px 9px #00000028;
    line-height: 1;
}
.btn:hover {
    border-radius: 0.749rem;
    box-shadow: 1px 1px 5px #00000041;
    filter: brightness(106%);
}

.btn:active {
    border-radius: 0.745rem;
    filter: brightness(114%);
}
.calcel {
    background: #00000000;

}