:host {
    position: absolute;
}


/* --bg: #E1E4E9;
--bg-assent: #f5f8ff;
--bg-assent-blue: #eff4ff;
--border-seg: white; */

.alert-container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: #2f3030c3;
    padding: 0.44rem;
    color: #131313;
    display: none;
    gap: 0.7rem;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1010;
    overflow-y: auto;
    backdrop-filter: blur(3px);


    .card {
        min-width: 400px;
        max-width: 1300px;
        background: linear-gradient(170deg, #171f1cf8 22.7265625%,#111614f3 83.87239583333333%);
        border-radius: 1.2rem;
        padding: 1.2rem 1.8rem 0 1.8rem;
        position: relative;
        height: fit-content;
        margin: auto 0;
        border: solid 1px #c0c0c01a;

        h2 {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: #ffffffd5;
            font-size: 1.3rem;
            font-weight: 500;
        }

        .close {
            position: absolute;
            right: 0;
            top: 0;
            padding: 0.7rem 0.7rem;
            cursor: pointer;
            user-select: none;
            font-size: 1rem;
            opacity: 0.65;
        }

        .content, .content form {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 1rem;
            justify-content: center;
            position: relative;
        }
    }
}

.show {
    display: flex;
}
