.card_container {
}
.card_content,
.card_content *,
.card_content :after,
.card_content :before,
.card_content:after,
.card_content:before {
    border: 0 solid;
    box-sizing: border-box;
}

.card_content:disabled {
    cursor: default;
}

.card_content:-moz-focusring {
    outline: auto;
}

.card_content svg {
    display: block;
}

.card_content [hidden] {
    display: none;
}

.card_content {
    border-radius: 1rem;
    border: solid 1px #ffffff3d;
    overflow: hidden;
    padding: 0.7rem 1rem;
    position: relative;
    box-shadow: -2px 2px 7px #0000008f;
    color: #effffdde;
    h4 {
        font-size: 1.2rem;
        font-weight: 700;
        margin-top: 0.6rem;
        margin-bottom: 1.3rem;
        text-shadow: -1px 1px 1px #00000075;
        text-transform: uppercase;
        color: #ffca7a;
    }
}

.card_content:hover {
    transform: scale(1.06);
}

.card_content span {
    font-weight: 900;
    mix-blend-mode: difference;
}

.card_container:before {
    content: "";
    aspect-ratio: 1;
    border-radius: 1rem;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: width 200ms;
    width: 0;
    z-index: 90;

    background: #6decd149 url(/gamepad.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    opacity: 0.5;

}

.card_container:hover:before {
    width: 100%;
}
