.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - var(--h-nav));
    .buttons_actions {
        display: flex;
        gap: 1rem;
    }

    .title {
        width: 100%;
        text-align: center;

        h3 {
            color: white;
            margin-left: 1rem;
        }
    }

    .table {
        display: block;
        width: 100%;
        max-width: 780px;
    }
}