<div class="float-actions"  [ngClass]="{'notNav': isShowNav}">
    <ul [ngClass]="{'show-items': isShowOptions}">
        <li style="display: flex;" class="pagination">
            <span>1/100</span>
            <input type="text" name="" id="" placeholder="#" (change)="goPageInput($event.target)">
            <div (click)="previousPage()">&lt;</div>
            <div (click)="nextPage()">&gt;</div>
        </li>
        <li>
            <button type="button" (click)="changeId(-1)" [class.hidden]="isEn">UP</button>
            <button type="button" (click)="changeId(1)" [class.hidden]="isEn">Down</button>
        </li>
        <li>
            <div (click)="isShowOptions=!isShowOptions">Todo</div>
        </li>
        <li>
            <div (click)="goToSavedPage()">Go save page</div>
        </li>
        <li>
            <div (click)="downloadBook()">Download books</div>
        </li>
        <li style="display: flex;">
            <div (click)="fontSize = fontSize - 0.1">A-</div>
            <div (click)="fontSize = fontSize + 0.1">A+</div>
        </li>
    </ul>
</div>

<div class="container_read" role="main" [ngClass]="{'notNav': isShowNav}">
    <br>
    <div class="actions">
        <div *ngIf="isUpFiles[0] && isUpFiles[1]" class="namefiles">
            <div class="primary">{{ nameFiles[0] }}</div>
            <div>
                <button class="toggle" (click)="toggleLang()">⮀</button>
            </div>
            <div class="secondary">{{ nameFiles[1] }}</div>
        </div>
        <div [class.hidden]="isUpFiles[0]">
            <app-input-file [name]="'English'" [identifier]="'engFile'"
                (filesEvent)="setFile($event, 'engFile')"></app-input-file>
        </div>
        <div [class.hidden]="isUpFiles[1]">
            <app-input-file [name]="'Spanish'" [identifier]="'espFile'"
                (filesEvent)="setFile($event, 'espFile')"></app-input-file>
        </div>
    </div>
    
    <section [style.fontSize.rem]="fontSize">
        <div id="read_content_en">
            <div *ngFor="let itemEn of enFilter; let i = index" (click)="scroll(true, itemEn)" [attr.id]="'en' + itemEn.id">
                {{ itemEn.text }}
            </div>
        </div>
        <div id="read_content_es">
            <div *ngFor="let itemEs of esFilter; let i = index" (click)="scroll(false, itemEs)" [attr.id]="'es' + itemEs.id">
                {{ itemEs.text }}
            </div>
        </div>
    </section>
</div>

<div class="loading-container" *ngIf="isLoading">
    <div class="loading">
        <span></span>
        <span></span>
        <span></span>
        <h2>Loading...</h2>
    </div>
</div>