<div class="container">
    <br><br>
    <pre class="code">
        <code class="data"></code>
    </pre>

    <br><br>
    <div>
        start
        <div>
            <button (click)="setStars(1)" [ngStyle]="stars==1? {'background': 'red'}:{}">1</button>
            <button (click)="setStars(2)" [ngStyle]="stars==2? {'background': 'red'}:{}">2</button>
            <button (click)="setStars(3)" [ngStyle]="stars==3? {'background': 'red'}:{}">3</button>
            <button (click)="setStars(4)" [ngStyle]="stars==4? {'background': 'red'}:{}">4</button>
            <button (click)="setStars(5)" [ngStyle]="stars==5? {'background': 'red'}:{}">5</button>
        </div>
        card
        <div>
            <button (click)="setPosCard(0)" [ngStyle]="poscard==0? {'background': 'red'}:{}">1</button>
            <button (click)="setPosCard(1)" [ngStyle]="poscard==1? {'background': 'red'}:{}">2</button>
            <button (click)="setPosCard(2)" [ngStyle]="poscard==2? {'background': 'red'}:{}">3</button>
            <button (click)="setPosCard(3)" [ngStyle]="poscard==3? {'background': 'red'}:{}">4</button>
        </div>
    </div>
    <button (click)="next()">Nexxt</button>
    <button (click)="cicle()">cicle</button>
</div>