@import "src/app/styles/modal-card.scss";
@import "src/app/styles/button.scss";


ul {
    list-style-type: none;
    width: 100%;
    height: auto;
    margin: 30px auto;
    cursor: pointer;
  }
  
  ul li {
    padding: 10px 0;
    border-bottom: 1px solid #bfcbcf;
    text-align: center;
    transition: margin-left 0.21s linear, font-weight 0.12s linear, color 0.21s linear;
    -webkit-transition: margin-left 0.21s linear, font-weight 0.12s linear, color 0.21s linear;
    -moz-transition: margin-left 0.21s linear, font-weight 0.12s linear, color 0.21s linear;
    -o-transition: margin-left 0.21s linear, font-weight 0.12s linear, color 0.21s linear;
    -ms-transition: margin-left 0.21s linear, font-weight 0.12s linear, color 0.21s linear;
  }
  
  ul li:first-child {
     border-top: 1px solid #a8a5a565;
  }
  
  ul li:hover {
    margin-left: 0.5rem;
    font-weight: 600;
    color: #275b6d;
  }