<div class="container">
    <div class="content">
        @if (tableData.length > 0) {
        <table class="table">
            <thead>
                <tr>
                    <th scope="row">#</th>
                    @for (headers of tableData[0]; track $index) {
                    <th scope="col" 
                    [ngClass]="headers.type=='hidden_responsive'?'hidden_responsive':''" >{{headers.headerKey}}</th>
                    <!-- <th scope="col"> <i class="fa-solid fa-ellipsis"></i> </th> -->
                    }
                </tr>
            </thead>
            <tbody>
                @for (row of tableData; track $index) {
                <tr class="rowItem rowItem{{$index}}">
                    <td scope="row"> <div> {{$index+1}} </div> </td>
        
                    <td *ngFor="let cell of row; index as k" 
                        (click)="colSelect(cell, k, $index)"
                        class="colItem colItem{{$index}}"
                        [ngClass]="cell.type =='hidden_responsive'?'hidden_responsive':''"
                        >
                        <div>
                            <span class="info-icon" title="{{cell.value}}">
                                {{cell.value}}
                            </span>
                        </div>
                    </td>
        
                    <!-- <td class="menu_table">
                        <div>
        
                            <i class="fa-solid fa-ellipsis"></i>
                            <input type="checkbox" name="" id="" class="option">
                            <nav>
                                <ul>
                                    ...
                                    <li *ngFor="let action of table.actions" (click)="actionSelect(rowFormResponse, i, action.code)">{{action.name}}</li>
                                </ul>
                            </nav>
                        </div>
                    </td> -->
                </tr>
                }
            </tbody>
        </table>
        }
    </div>
</div>