.container {
    backdrop-filter: blur(2px);
    border-radius: 8px;
}

.options_table {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.35rem;
}

.left_actions {
    display: flex;
}

.pagination {
    color: var(--text);
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 3px;
}

.pagination>div {
    width: 22px;
    height: 22px;
    aspect-ratio: 1 / 1;
    box-shadow: 0px 1px 2px var(--shadow-hard);
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #66708509;
    cursor: pointer;
}

.content {
    width: 100%;
    overflow: auto;
    box-sizing: border-box;
    height: calc(100dvh - var(--h-nav) - 110px - 1rem);
    overflow: auto;

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        background-color: var(--bg-scroll);
    }

    &::-webkit-scrollbar {
        width: 12px;
        width: 12px;
        background-color: var(--bg-scroll);
    }

    &::-webkit-scrollbar {
        height: 12px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .2);
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .2);
        background-color: var(--bar-scroll);
    }

    .table {
        width: 100%;
        box-shadow: 1px 5px 8px #0000000a;
        /* border-top: 1px solid #00000049; */
        /* border-collapse: separate; */
        border-collapse: collapse;
        border-spacing: 0;
        color: #ffffff;


        thead {
            position: sticky;
            top: -1px;
            background: var(--bg-th);
            z-index: 10;
        }

        tbody {
            tr {
                background: var(--bg-td);
                border: solid;
                border-width: 4px 0;
                border-color: transparent;

                &:nth-child(odd) {
                    background: var(--bg-td2);
                }
            }
        }


        th,
        td {
            font-size: 0.9rem;
            text-align: left;
            overflow: ellipsis;
            overflow: hidden;
            position: relative;
            width: 20%;
            cursor: pointer;
            border-style: none solid solid none;
            border-left: solid 0px transparent;
            border-right: solid 0px transparent;
        }

        th {
            cursor: pointer;
            user-select: none;
            font-size: 0.9rem;
            position: sticky;
            top: 0;
            z-index: 1;
            padding: 8px;

            &:first-child {
                border-top-left-radius: .4rem;
                border-bottom-left-radius: .7rem;
            }

            &:last-child {
                border-top-right-radius: .4rem;
                border-bottom-right-radius: .7rem;
            }

            >div {
                display: flex;
            }

            .arrow {
                display: inline-block;
                width: 1.5rem;

                img {
                    margin-left: 0.3rem;
                    cursor: pointer;

                    &.up {
                        transform: rotate(180deg);
                    }
                }
            }
        }

        td {
            padding: 9px 8px;
            &:first-child {
                border-top-left-radius: 1.2rem;
                border-bottom-left-radius: 1.2rem;
            }

            &:last-child {
                border-top-right-radius: 1.2rem;
                border-bottom-right-radius: 1.2rem;
            }

            >a {
                display: block;
                width: 100%;
                height: 100%;
                text-decoration: none;
                padding: 4px;
            }
        }


        :is(th, td):first-child,
        :is(th, td):last-child {
            width: 1%;
        }
    }
}


@media (max-width: 500px) {
    .hidden_responsive {
        display: none;
    }
}


.select,
.select input {
    width: 15px;
}

.cell_porcent {
    padding-right: 8px;
}

.cell_porcent>div {
    display: table-cell;
    min-width: 2.4rem;
    width: 2.68rem;
    position: relative;
}