<div class="container">
    <div class="content">
        <table *ngIf="tableData.length > 0" class="table">
            <thead>
                <tr>
                    <th scope="row">#</th>
                    <th scope="col" *ngFor="let headers of tableData[0]" 
                    [ngClass]="headers.type=='hidden_responsive'?'hidden_responsive':''" >{{headers.headerKey}}</th>
                    <!-- <th scope="col"> <i class="fa-solid fa-ellipsis"></i> </th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of tableData; index as i" class="rowItem rowItem{{i}}">
                    <td scope="row"> <div> {{i+1}} </div> </td>
        
                    <td *ngFor="let cell of row; index as k" 
                        (click)="colSelect(cell, k, i)"
                        class="colItem colItem{{i}}"
                        [ngClass]="cell.type =='hidden_responsive'?'hidden_responsive':''"
                        >
                        <div>
                            <span class="info-icon" title="{{cell.value}}">
                                {{cell.value}}
                            </span>
                        </div>
                    </td>
        
                    <!-- <td class="menu_table">
                        <div>
        
                            <i class="fa-solid fa-ellipsis"></i>
                            <input type="checkbox" name="" id="" class="option">
                            <nav>
                                <ul>
                                    ...
                                    <li *ngFor="let action of table.actions" (click)="actionSelect(rowFormResponse, i, action.code)">{{action.name}}</li>
                                </ul>
                            </nav>
                        </div>
                    </td> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>