<div class="container_cards">
    <div class="controls">
        <div>
            <btn-img identifier="menu" imgPath="/menu.svg" (eventClick)="isMenuOptions=!isMenuOptions"
                [type]="isMenuOptions? 'orange':'green'"></btn-img>

            <div [ngClass]="isMenuOptions?'':'hidden'" class="menu_options">
                <button (click)="isListResources=!isListResources" class="btn "><span>Select Resource</span></button>
                <!-- <button (click)="random()" class="btn"><span>Random</span></button> -->

                <label for="time-s">
                    Automatic time
                    <input type="number" name="time-s" placeholder="5" (input)="onInputTimeS($event.target)">
                </label>

                <label for="time-s">
                    Limit day
                    <input type="number" name="limit-day" placeholder="5" (input)="onInputLimitDay($event.target)">
                </label>
                <button (click)="replaceCard()" class="btn"><span>Replace</span></button>

                <button (click)="nextCycle()" class="btn"><span>Next Cycle</span></button>
                <button (click)="speack=!speack" class="btn"><span>Speak</span></button>

            </div>

            <btn-img identifier="play" [imgPath]="isStart? '/pause.svg': '/play.svg'"
                (eventClick)="startPause()" [type]="isStart? 'orange':'green'"></btn-img>

            @if(lgc){
            <div class="cycle cursor-pointer" (click)="openGroups()">
                <span class="max-w-36 text-left whitespace-nowrap overflow-x-auto">
                    {{lgc.itemsSelect?.name}}
                </span>
                <div class="ml-2 ico"></div>
                {{lgc.itemsSelect?.cycle}}
            </div>
            }
        </div>

        <btn-game [disabled]="!lgc?.itemsSelect" style="width: 3.1rem;" difficulty="easy" (eventClick)="speak()" title="🔊"></btn-game>

        <div class="flex relative z-[101]">
            <btn-game [disabled]="!lgc?.itemsSelect" class="sm:hidden" style="width: 3.1rem;" difficulty="easy" (eventClick)="a=!a" title="A"></btn-game>
            <div class="lg:ml-28 absolute top-14 left-0 flex-col sm:static sm:flex-row gap-2 flex {{a?'':'hiddenA'}}">
                <btn-game [disabled]="!lgc?.itemsSelect" style="width: 3.1rem;" difficulty="hard" (eventClick)="decrease()" title="A-"></btn-game>
                <btn-game [disabled]="!lgc?.itemsSelect" style="width: 3.1rem;" difficulty="easy" (eventClick)="increase()" title="A+"></btn-game>
            </div>
        </div>
    </div>

    @if(lgc){
    <div class="container_card">
        @if(lgc.itemsSelect?.questions!.length > 1){
        <div (click)="toggleCard(lgc.itemsSelect!.questions![posItem]!)" class="flipper frame"
            [ngClass]="{ 'active' : !isFront }" #frame>
            <div class="card blur-xs" #next>
                <div class="itemCard" [ngStyle]="{'font-size': fontSizeCard+'rem'}">
                    <div class="invisible"></div>
                    <div class="question">
                        <div class="header"
                            [ngClass]="'difficulty'+lgc.itemsSelect!.questions![posItemNext].difficulty">
                            <span class="count">#{{posItem+1}}/{{lgc.itemsSelect?.questions?.length}} </span>
                            <span class="title">Front</span>
                            <span class="tag">
                                <div></div>
                                {{lgc.itemsSelect!.questions![posItemNext].cycle || 0}}
                            </span>
                        </div>
                        <div class="content-text" [innerHTML]="lgc.itemsSelect!.questions![posItemNext].entry_a! | br"></div>
                    </div>
                    <div class="answer">
                        <div class="header"
                            [ngClass]="'difficulty'+lgc.itemsSelect!.questions![posItemNext].difficulty">
                            <span class="count">#{{posItem+1}}/{{lgc.itemsSelect?.questions?.length}} </span>
                            <span class="title">Front</span>
                            <span class="tag">
                                <div></div>
                                {{lgc.itemsSelect!.questions![posItemNext].reviewCount || 0}}
                            </span>
                        </div>
                        <div class="content-text" [innerHTML]="lgc.itemsSelect!.questions![posItemNext].entry_a! | br"></div>
                    </div>
                </div>
            </div>

            <div class="card" #current>
                <div class="is-like"></div>
                <div class="itemCard" [ngStyle]="{'font-size': fontSizeCard+'rem'}">
                    <!-- <div class="invisible">xxx</div> -->

                    <div class="question">
                        <div class="header" [ngClass]="'difficulty'+lgc.itemsSelect!.questions![posItem].difficulty">
                            <span class="count">#{{posItem+1}}/{{lgc.itemsSelect?.questions?.length}} </span>
                            <span class="title">Frontal</span>
                            <span class="tag">
                                <div></div>
                                {{lgc.itemsSelect!.questions![posItem].cycle || 0}}
                            </span>
                        </div>
                        <div class="content-text" [innerHTML]="lgc.itemsSelect!.questions![posItem].entry_a! | br"></div>
                    </div>

                    <div class="answer" style="white-space: pre-line;">
                        <div class="header" [ngClass]="'difficulty'+lgc.itemsSelect!.questions![posItem].difficulty">
                            <span class="count">#{{posItem+1}}/{{lgc.itemsSelect?.questions?.length}} </span>
                            <span class="title">Reverso</span>
                            <span class="tag">
                                <div></div>
                                {{lgc.itemsSelect!.questions![posItem].reviewCount || 0}}
                            </span>
                        </div>

                        <div class="content-text" [innerHTML]="lgc.itemsSelect!.questions![posItem].entry_b! | br"></div>
                    </div>

                </div>
            </div>
        </div>
        }
    </div>
    }

    @if (!lgc?.itemsSelect) {
        <div class=" w-full flex justify-center items-center h-3/6">
            <div class="w-50 max-w-50"> <btn-game difficulty="easy" (eventClick)="routeSelectResourse()" title="Seleccionar recurso"></btn-game> </div>
        </div>
    }@else {   
        <div class="next_previous">
            <div> <btn-game [disabled]="!lgc?.itemsSelect" class="a" difficulty="hard" (eventClick)="hard()" title="Hard"></btn-game> </div>
            <div> <btn-game [disabled]="!lgc?.itemsSelect" class="b" difficulty="medium" (eventClick)="medium()" title="Medium"></btn-game> </div>
            <div> <btn-game [disabled]="!lgc?.itemsSelect" class="c" difficulty="easy" (eventClick)="easy()" title="Easy"></btn-game> </div>
        </div>
    }

</div>

@if (groupModal) {
    <app-groups [data]="groupModal"></app-groups>
}
