.main-container {
    align-items: center;
    flex-direction: column;
    height: calc(99dvh - var(--h-nav));
    gap: 1rem;
    width: 100%;
    
    .xheader {
        margin-top: 6px;
        background: var(--bg-header);
        width: 100%;
        display: flex;
        flex-direction: row;
        
        align-items: center;
        flex-wrap: wrap;
        height: 13rem;
        padding-bottom: 2rem;
        
        .title {
            color: white;
            
            
            h1 {
                margin-top: 0px;
                margin-bottom: 5px;
                padding:0;
                font-weight: 700;
            }
        }
    }

    .card {
        background: linear-gradient(170deg, #171f1cf8 22.7265625%,#111614f3 83.87239583333333%);
        border-radius: 1.2rem;
        padding: 1.2rem 1.8rem 0 1.8rem;
        position: relative;
        height: fit-content;
        
        border: solid 1px #c0c0c01a;
        .item {

        }

        h2 {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: #ffffffd5;
            font-size: 1.3rem;
            font-weight: 500;
        }
    }
}