.minput>.mlabel {
    color: var(--input-label);
    font-size: 0.925rem;
    border: 1px solid #63636330;
    margin-top: 15px;
    position: sticky;
    left: 20px;
    transition: all 0.1s ease;
    border-width: 0 2px 0 2px;
    padding: 1px 6px;
  }
  
  .minput > textarea {
    width: 100%;
    padding: 0.6rem;
    margin: 7px 0 0px 0;
    border:  solid 1px #63636363;
    border-radius: 6px;
    transition: all 0.1s;
    font-size: 0.96rem;
    color: var(--text);
    background: #e0e6e30a;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .minput > textarea:focus {
    outline: 0;
    border-color: #37caa5bb; 
  }
  
  