.minput {
  display: flex;
  align-items: center;
}
.minput>.mlabel {
  color: var(--input-label);
  font-size: 0.925rem;
  border: 1px solid #63636330;
  position: sticky;
  left: 20px;
  transition: all 0.1s ease;
  border-width: 0 2px 0 2px;
  padding: 1px 6px 1px 6px;
  margin-right: 15px;
}
 

.switch input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}

/**
* 1. Adjust this to size
*/

.switch {
  display: inline-block;
  font-size: 20px; /* 1 */
  height: 1em;
  width: 2em;
  background: #b4b6b51a;
  border-radius: 1em;
  position: relative;
  box-shadow: inset 0 0 2px #ffffff2d;
}

.switch div {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  z-index: 0;
  background: #34804d;
}
.switch:hover div {
  background: #459e63;
}

.switch input:checked + div {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  z-index: 0;
}
