@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i');
:host {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    --bg-content: #F0F4F9;
    z-index: 100000;
}
//fuera del for
.main-container {
    position: absolute;
    bottom: 1.1rem;
    right: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    z-index: 100000;
}
//dentro del for
.toast__container {
}

.toast__cell {
    display: inline-block;
}

/* .add-margin {
    margin-top: 20px;
} */

.toast__svg {}

.toast {
    text-align: left;
    padding: 1rem 0;
    background: var(--bg-content);
    border-radius: 1rem;
    max-width: 500px;
    top: 0px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.toast:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 7px;
    height: 100%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.toast__icon {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.toast__icon svg {
    width: 2rem;
    height: 2rem;
}

.toast__content {
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.15rem;
}

.toast__type {
    font-weight: 500;
    margin-top: 0;
    color: var(--text-dark);
}

.toast__message {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--text-dark-secondary);
}

.toast__green:before {  
    background-color: #2BDE3F;
}

.toast__blue:before {
    background-color: #1D72F3;
}

.toast__yellow:before {
    background-color: #FFC007;
}
