<div class="main-container">
    @for (toast of toasts; track toast.id) {
    <div class="toast__container" [ngClass]="'update'+toast.id"
        [style]="'animation: popup '+toast.timeS+'s linear both'">
        <div class="toast__cell">

            <div class="toast"
                 [ngClass]="
                  toast.type === 's' ? 'toast__green' :
                  toast.type === 'i' ? 'toast__blue' :
                  toast.type === 'w' ? 'toast__yellow' : ''
                ">
                <div class='toast__icon'>
                    <div class="icon" [ngStyle]="{
                        'background': color[toast.type].color,
                        'width': '1.3rem',
                        'height': '1.3rem',
                        'mask': 'url(' + color[toast.type].icon + ') no-repeat center',
                        '-webkit-mask': 'url(' + color[toast.type].icon + ') no-repeat center'
                    }">
                    </div>

                </div>
                <div class='toast__content'>
                    <p class='toast__type'>{{toast.title}}</p>
                    @if (toast.message) {
                        <p class='toast__message'>{{toast.message}}</p>
                    }
                </div>
            </div>

        </div>
    </div>
    }
</div>

