$top: 3.1rem;

.background{
    position: fixed;
    top: 0;
    background: #225040 url(/assets/background.svg);
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    filter: brightness(0.8);
}
.container {
    /* padding-top: calc($top); */
    height: calc(99.9% );
}