html {
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0
}

body {
  height: 100%;
  margin: 0;
  padding: 0
}

main {
  display: block
}

h1 {
  font-size: 2em;
  margin: .67em 0
}

hr {
  box-sizing: border-box;
  height: 0;
  overflow: visible
}

pre {
  font-family: monospace, monospace;
  font-size: 1em
}

a {
  background-color: transparent
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted
}

b,
strong {
  font-weight: bolder
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em
}

small {
  font-size: 80%
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sub {
  bottom: -.25em
}

sup {
  top: -.5em
}

img {
  border-style: none
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0
}

button,
input {
  overflow: visible
}

button,
select {
  text-transform: none
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText
}

fieldset {
  padding: .35em .75em .625em
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal
}

progress {
  vertical-align: baseline
}

textarea {
  overflow: auto
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

details {
  display: block
}

summary {
  display: list-item
}

template {
  display: none
}

[hidden] {
  display: none
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

* {
  box-sizing: border-box;
}

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --h-nav: 50px;

  --bg: #1C4338;
  --bg-content: #2E564C;
  --bg-assent: #2F8C4F;
  --bg-assent-blue: #eff4ff;
  --border-seg: white;
  --shadow: #0000001a;
  --shadow-hard: #00000052;
  --text: #fbfffd;
  --text-hide: #d6d6d6;
  --input-label: #54555a;
  --h1: #004dac;
  --bg-th: #266C4F;
  --bg-td: #609F89;
  --bg-td2: #4F8975;
  --text-tr: #667085;
  --border-td: #EAECF0;
  --bg-scroll: #edf0f5;
  --bar-scroll: #d8d9db;
  --tx-sh-btn: #3e587a0d;
  --text-assent: #0065ca;

}

.dark_mode {
  --bg: #141516;
  --bg-content: #242627;
  --bg-assent: #2f3436;
  --bg-assent-blue: #252d30;
  --border-seg: #36393b;
  --shadow: #00000038;
  --shadow-hard: #000000af;
  --text: #F0F4F9;
  --text-hide: #f3f1f1c2;
  --input-label: #a3a3a5;
  --h1: #5697e7;
  --bg-th: #272b2f;
  --bg-td: #2c2e30;
  --text-tr: #b0b5c0;
  --border-td: #494949;
  --bg-scroll: #242627;
  --bar-scroll: #3b3e41;
  --tx-sh-btn: #00000091;
  --text-assent: #74a7da;
}


@keyframes popup {
  from {
      overflow: hidden;
      transform: translateX(50%);
      opacity: 0;
  }

  10% {
      transform: translateX(0.01%);
      opacity: 0.99;
  }

  96% {
      transform: translateX(0%);
      opacity: 1;
  }

  99.99% {
      transform: translateX(-40%);
      opacity: 0;
      display: table-cell;
  }

  100% {
      display: none;
  }
}