<div class="container">
    <input type="text" name="" class="name-list" id="" placeholder="List Name">
    <div>
        <div class="checkbox-container">
            <input type="checkbox" id="miCheckbox" class="checkbox-input is-name-inside-list">
            <label for="miCheckbox" class="custom-checkbox"></label>
            <span class="checkbox-label">Name inside text?</span>
        </div>

        <textarea name="" id="" cols="30" rows="10" class="data-list"></textarea>

        <div class="actions">
            <button (click)="cancel()">Cancel</button>
            <button (click)="accept()">Accept</button>
        </div>
    </div>
</div>
