<div [class]="{'show' : show }" class="container">
    <div class="card">
        <div class="close" (click)="toggleShow()">❌</div>

        <h2>Create List</h2>

        <div class="content">
            <input type="text" name="" class="name-list" id="" placeholder="List Name">

            <textarea class="data-list" placeholder="question;answer..."></textarea>

            <div class="actions">
                <button class="btn" (click)="cancel()">Cancel</button>
                <button class="btn" (click)="accept()">Accept</button>
            </div>

        </div>
    </div>
</div>