<div class="container">

    <h2>Games and tools</h2>
    <div class="games_list">
        <ul>
            <a class="link selected" routerLink="games/multiplecards">
                <card-game title="Multi-Cards" description="All cards, questions/asnwer" />
            </a>
            <a class="link" routerLink="games/cards">
                <card-game title="Cards" description="Questions/asnwer" />
            </a>

            <!-- <a class="link" routerLink="games/chat"> -->
            <!-- <li> <card-game title="" description=""/> </li> -->
        </ul>
    </div>


</div>