.container_grammar{
    padding: 1.2rem;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    flex-direction: row;
    @media (max-width: 480px) {
        padding: 0rem;
    }
    .all_grammar {
        display: flex;
        gap: 1rem;
        flex-direction: column;

        .container_article {
            width: 100%;
            max-width: 1000px;
            border-radius: 0.8rem;
            backdrop-filter: blur(8px);
            background: linear-gradient(-45deg, #33323249, #31383870);
            border: solid 1px #7474742d;
            padding: 2rem 2rem 3rem 2rem;
            @media (max-width: 480px) {
                padding: 2rem 1rem 3rem 1rem;
            }

            .title {
                width: 100%;
                color: #62fff7;
                text-align: center;
                text-transform: uppercase;
                font-size: 1.6rem;
            }
            .title2 {
                color: #a5f7f4;
                margin-top: 2rem;
            }
            .title3 {
                color: #a0e7d2;
                margin-top: 1.9rem;
                margin-left: .8rem;
            }
            .structure {
                background: #da5454;
                border-radius: 13px;
                padding: 0.4rem 0.6rem;
                font-weight: 500;
                width: fit-content;
            }
            .list {
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                letter-spacing: 1px;
                margin-top: 0.2rem;
                line-height: 1rem;
                color: #eefbfcf5;
                &::marker {
                    color: #da5454;
                }
            }
            .text{
                color: #e8fffcdc;
            }
        }
    }
}